<div id="containers" class="acs-component draggable">
    <div class="header-div">
        <p>{{title}}</p>
    </div>

    <div>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Containers
                    </mat-panel-title>
                    <mat-panel-description>
                        as defined in the TMCDB
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->
                <div class=content-div>
                    <table class='acs-table'>
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>ID</th>
                                <th>Computer</th>
                                <th>Container Name</th>
                                <th>Path</th>
                                <th>Impl Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let container of containers">
                                <td><input type="checkbox"></td>
                                <td>{{container.containerId}}</td>
                                <td>{{container.computer}}</td>
                                <td>{{container.containerName}}</td>
                                <td>{{container.path}}</td>
                                <td>{{container.implLang}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>
    </div>


</div>