#tasks p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#tasks div {
    margin: 5px;
    background-color: white;
}

.button-divxx button {
    margin-inlinexx: 20px;
    margin-top: 10px;   
}

.btn-refresh{
    float: right;
}

.error-row{
    background-color: rgb(255, 155, 155);
}

button.floatCtr {
    float:right;
    margin-right: 45%;
    margin-bottom: 3px;
    margin-top: 3px;
}