#tasks p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#tasks div {
    margin: 5px;
    background-color: white;
}

.button-div button {
    margin-inline: 20px;
    margin-top: 10px;   
}

.btn-refresh{
    float: right;
}

.error-row{
    background-color: rgb(255, 155, 155);
}