<div id="tasks" class="draggable">

    <div class="header-div">
        <p>{{title}}</p>
    </div>

    <div class="button-div">
        <button class="floatCtr" (click)="refreshTasks()">Refresh Tasks</button> 
    </div>

    <div>
        <mat-accordion class="acs-component">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tasks:
                    </mat-panel-title>
                    <mat-panel-description>
                        tasks submitted from acsclient
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->

                <div class="content-div">
                    <table class='acs-table'>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Complete</th>
                                <th>ID</th>
                                <th>Start Time</th>
                                <th>Parameters</th>
                                <th>Exception</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks" [ngClass]="{'error-row': (task.exception)}" >
                                <td>{{task.name}}</td>
                                <td>{{task.complete}}</td>
                                <td>{{task.id}}</td>
                                <td>{{task.startTime}}</td>
                                <td>{{task.parameters}}</td>
                                <td>{{task.exception}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>
        <div class="component-arrows-div">
            <img class="downArrow" src="assets/icons/gnome/go-down.png" />
            <img class="upArrow" src="assets/icons/gnome/go-up.png" />
            <img class="rightArrow" src="assets/icons/gnome/go-next.png" />
        </div>

    </div>
</div>