#tmcdb {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45%;
    height: 45%;
    overflow: auto;   
}

#tmcdb p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#tmcdb pre {
    margin: 5px;
    font-size: .5em;
    background-color: blanchedalmond;
}
