#acs-status {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 45%;
    overflow: auto;   
    display: inline-block;
}

#acs-status p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#acs-status pre {
    margin: 5px;
    font-size: .5em;
    background-color: blanchedalmond;
}

