#acs-status span {
    background-color: rgba(95, 145, 158, 0.39);
    display: inline-block;
    width: 100%;
    margin: auto;
}

#acs-status .component-title span{
    margin: auto;
}

#acs-status div {
    margin: 3px;
    background-color: white;
}

.button-div button {
    margin-top: 7px;   
    margin-inline: 10px;
}


.mat-expansion-panel-body *{
    font-size: 10px;
}
  
#status-pre {
    width: 100%;
    overflow: auto;
}

.button-div button.floatLt {
    float: left;
    margin-left: 20px;
}

.button-div button.floatRt {
    float: right;
    margin-right: 20px;
}

.button-div button.floatCtr {
    float:none;
    margin-inline: 26%;
    margin-left: 29%;
    margin-bottom: 3px;
    margin-top: 3px;
}