<div id="acs-status" class="draggable">

    <div class="header-div">
        <p>{{title}}</p>
    </div>

    <div class="button-div">
        <button (click)="startAcs()">Start ACS</button> 
        <button (click)="stopAcs()">Stop ACS</button> 
        <button class="btn-refresh" (click)="refreshAcs()">Refresh Status</button> 
    </div>

    <div>
        <mat-accordion class="acs-component">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ACS Status:
                    </mat-panel-title>
                    <mat-panel-description>
                        raw output from ServiceDaemon
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->
                
                    <pre id="status-pre" class="acs-table">{{status}}</pre>
               
                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>
    </div>

 </div>