<div id="acs-status" class="draggable" #acsStatus>

    <div class="header-div">
        <span>{{title}}</span>
    </div>

    <div class="button-div">
        <button (click)="startAcs()">Start ACS</button>
        <button (click)="stopAcs()">Stop ACS</button>
        <button class="btn-refresh" (click)="refreshAcs()">Refresh Status</button>
    </div>

    <div>
        <mat-accordion class="acs-component">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ACS Status:
                    </mat-panel-title>
                    <mat-panel-description>
                        raw output from ServiceDaemon
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->
                <div class="content-div">
                    <pre id="status-pre" class="acs-table">{{status}}</pre>
                </div>
                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>
        <div class="component-arrows-div">
            <img (click)="goDown()" class="downArrow" src="assets/icons/gnome/go-down.png" />
            <img class="upArrow" src="assets/icons/gnome/go-up.png" />
            <img class="rightArrow" src="assets/icons/gnome/go-next.png" />
        </div>

    </div>

</div>