#acs-status p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#acs-status div {
    margin: 5px;
    background-color: white;
}

.button-div button {
    margin-inline: 20px;
    margin-top: 10px;   
}

.btn-refresh{
    float: right;
}


#status-pre {
    width: 100%;
    overflow: auto;
}
