<div id="subsystems" class="draggable">

    <div class="header-div">
        <p>{{title}}</p>
    </div>

    <div class="button-div">
        <button (click)="startSubsystems()">Start Subsystem</button>
        <button (click)="stopSubsystems()" class="floatRt">Stop Subsystem</button>
    </div>

    <div>
        <mat-accordion class="acs-component">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Subsystems:
                    </mat-panel-title>
                    <mat-panel-description>
                        defined in ExecConfig.xml
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->

                <div class=content-div>
                    <table class='acs-table'>
                        <thead>
                            <tr>
                                <th class="cbox"></th>
                                <th>Name</th>
                                <th>Master Component</th>
                                <th>Components</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subsystem of subsystems">
                                <td><input type="checkbox" (change)="checkSubsystem($event, subsystem)"></td>
                                <td>{{subsystem.name}}</td>
                                <td>{{subsystem.masterComponent}}</td>
                                <td>
                                    <span *ngFor="let comp of subsystem.components">
                                        {{comp}}<br>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>
        <div class="component-arrows-div">
            <img class="downArrow" src="assets/icons/gnome/go-down.png" />
            <img class="upArrow" src="assets/icons/gnome/go-up.png" />
            <img class="rightArrow" src="assets/icons/gnome/go-next.png" />
        </div>

    </div>
</div>