<div id="subsystems" class="acs-component draggable">

    <div class="header-div">
        <p>{{title}}</p>
    </div>

    <div>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Subsystems
                    </mat-panel-title>
                    <mat-panel-description>
                        as defined in ExecConfig.xml
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- insert content below...-->

                <div class="content-div">
                    <div *ngFor="let subsystem of subsystems">
                        {{subsystem.name}} <br>
                    </div>
                </div>

                <!-- insert content above...-->

            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>