#subsystems p {
    background-color: rgba(95, 145, 158, 0.39);
    margin: 5px;
}

#subsystems div {
    margin: 5px;
    font-size: 10px;
    background-color: white;
}

.button-div button {
    margin-inline: 20px;
    margin-top: 7px;   
    margin-bottom: 3px;   
    floatxx: left;
}

th.cbox {
    width: 3%;
}

.btn-refresh{
    
}

button.floatRt {
    float: right;
}